<div class="list">
<h1></h1>
<%= render 'form', todo_list: @todo_list %>
<div class="btn-group">
<%= link_to 'Show', @todo_list , :class=>"todo-btn blue"%> 
<%= link_to 'Back', todo_lists_path , :class=>"todo-btn blue" %>
</div>

</div>



